body,
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    display: flex;
    background-color: black;
}

#changelog {
    z-index: 9999 !important;
}

.hidden {
    display: none;
}

.hide-above {
    overflow-y: hidden;
}

.overflow {
    overflow: hidden;
}

.container {
    height: 100%;
}

* {
    font-family: 'Roboto', sans-serif;
}

.btn-ano {
    position: absolute;
    margin-left: -65px;
    margin-top: -20px;
    width: 130px;
    height: 40px;
    text-align: center;
}


/* start load animation */

#button-container {
    z-index: 99999 !important;
}

button {
    z-index: 9999;
    outline: none;
    height: 40px;
    text-align: center;
    width: 130px;
    border-radius: 40px;
    background: #fff;
    border: 2px solid #6b777e;
    color: #103f6d;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}

button:hover {
    color: white;
    background: #103f6d;
}

button:active {
    letter-spacing: 2px;
}

button:after {
    content: "LAUNCH";
}

.onclic {
    width: 40px;
    border-color: #bbb;
    border-width: 3px;
    font-size: 0;
    border-left-color: #103f6d;
    animation: rotating 2s 0.25s linear infinite;
}

.onclic:after {
    content: "";
}

.onclic:hover {
    color: #43a9df;
    background: white;
}

.validate {
    font-size: 13px;
    color: white;
    background: #43a9df;
}

.validate:after {
    font-family: 'FontAwesome';
    content: "\f00c";
}

.fancy-button {
    margin: auto;
    position: relative;
}


/* end load animation */


/* start firework animation */

.frills,
.frills:after,
.frills:before {
    position: absolute;
    background: #eb1f48;
    border-radius: 4px;
    height: 8px;
}

.frills:after,
.frills:before {
    content: "";
    display: block;
}

.frills:before {
    bottom: 45px;
}

.frills:after {
    top: 45px;
}

.left-frills {
    right: 164px;
    top: 28.5px;
}

.active .left-frills {
    animation: move-left 0.38s ease-out, width-to-zero 0.38s ease-out;
}

.left-frills:before,
.left-frills:after {
    left: 15px;
}

.active .left-frills:before {
    animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}

.active .left-frills:after {
    animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.right-frills {
    left: 164px;
    top: 28.5px;
}

.active .right-frills {
    animation: move-right 0.38s ease-out, width-to-zero 0.38s ease-out;
}

.right-frills:before,
.right-frills:after {
    right: 15px;
}

.active .right-frills:before {
    animation: width-to-zero 0.38s ease-out, move-up 0.38s ease-out;
}

.active .right-frills:after {
    animation: width-to-zero 0.38s ease-out, move-down 0.38s ease-out;
}

.left-frills:before,
.right-frills:after {
    transform: rotate(34deg);
}

.left-frills:after,
.right-frills:before {
    transform: rotate(- 34deg);
}

@keyframes move-left {
    0% {
        transform: none;
    }
    65% {
        transform: translateX(-80px);
    }
    100% {
        transform: translateX(-80px);
    }
}

@keyframes move-right {
    0% {
        transform: none;
    }
    65% {
        transform: translateX(80px);
    }
    100% {
        transform: translateX(80px);
    }
}

@keyframes width-to-zero {
    0% {
        width: 38px;
    }
    100% {
        width: 8px;
    }
}

@keyframes move-up {
    100% {
        bottom: 69.75px;
    }
}

@keyframes move-down {
    100% {
        top: 69.75px;
    }
}

@keyframes rotating {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* end firework animation */


/* Text Animation */


/* slide out animation */

.scale-out-center {
    animation: scale-out-center 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0);
        opacity: 1;
    }
}


/* text animations */

.primary-text {
    font-family: 'Roboto Mono', sans-serif !important;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #43a9df;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

.secondary-text {
    font-family: 'Roboto Mono', sans-serif !important;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #43a9df;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}


/* The typewriter cursor effect */

@keyframes blink-caret {
    from,
    to {
        border-color: transparent
    }
    50% {
        border-color: #43a9df;
    }
}


/* start change log styling */

.change-log,
h1,
li,
h2,
h3 {
    font-family: 'Roboto Mono', sans-serif !important;
}

#logo,
canvas {
    position: absolute;
}

canvas {
    height: 100%;
    width: 100%;
    z-index: 1;
}